@import 'fonts';
@import 'color';
@import 'mixin';

body {
  font-family: 'Roboto', sans-serif;
  // background-color: cornflowerblue;
}

.hero {
  background-color: $red!important;
  padding-bottom: 10vh;
  .navbar-start {
    text-align: center;
  }
  ul {
      text-align: center;
      li {
        display: inline-block;
        margin: 1vw;
          a {
              color: white;
              &:hover{
                font-weight: bold;
              }
              .nav-item{
                text-align: center;
                margin: 0 auto;
              }
          }
      }
  }
}

.falcon {
  margin: -13vh auto;
}

.howitwork {
  .content.has-text-centered {
    margin-bottom: 40px;
  }
  .title.is-4 {
    margin: 10px;
  }
}

.benefits {
  background-color: $grey;
  padding: 40px 0;
  margin-bottom: 0;
  .column {
    text-align: center;
    
  }
  .content {
    margin-top: 30px;
  }

  .container.small {
    max-width:900px!important;
    margin: 0 auto;
    padding: 0 15px;

    .columns:nth-child(even) .content{
      @media screen and (min-width: $tablet) { 
        text-align: left!important;
      }
    }

    .columns:nth-child(odd) {
      -moz-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      .content{
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        @media screen and (min-width: $tablet) { 
          text-align: right!important;
        }
      }
    }
  }
}

footer {
  background-color: $blue;
  color:white;
  padding:40px 0 180px;  


  .links {
    display: inline-block;
    margin: 0 2.5%;
    text-align: center;

    .is-5 {font-weight: bold;}
  }
  .tile.is-vertical {
    text-align: center;
  }
}
