@import 'fonts';
@import 'color';
@import 'mixin';

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  // background-color: cornflowerblue;
}

.is-2,.is-3,.is-4{font-weight: 400!important;}

.hero {
  background-color: $red!important;
  padding-bottom: 6vh;
  @media screen and (min-width: $tablet) { 
    // padding-bottom: 10vh;
    // max-width: 400px;
  }
  .hero-body{padding: 1rem 1.5rem 3;}
  .navbar-start {
    text-align: center;
  }
  ul {
      text-align: center;
      li {
        display: inline-block;
        margin: 1vw;
          a {
              color: white;
              &:hover{
                font-weight: bold;
              }
              .nav-item{
                text-align: center;
                margin: 0 auto;
              }
          }
      }
  }
  .is-two-fifths{
    @media screen and (min-width: $tablet) { 
      max-width: 400px;
    }
  }
}

.falcon {
  margin: -18vh auto;
  @media screen and (min-width: $tablet) { 
    margin: -13vh auto;
    // max-width: 400px;
  }
}

.howitwork {
  .is-two-fifths{
    margin-bottom: 40px;
    @media screen and (min-width: $tablet) { 
      max-width: 400px;
    }
  }
  .content.has-text-centered.item {
    max-width: 167px;
    margin: 0 auto 20px;
    text-align: center;
  }
  .title.is-4 {
    margin: 10px;
  }
}

.benefits {
  background-color: $grey;
  padding: 40px 0;
  margin-bottom: 0;
  .is-two-fifths{
    margin-bottom: 20px;
    @media screen and (min-width: $tablet) { 
      margin-bottom: 80px;
      max-width: 400px;
    }
  }
  .column {
    text-align: left;
   
    @media screen and (min-width: $tablet) { 
      text-align: center;
    }
  }
  img{
    width: 100%;
    margin: 0 auto;
    @media screen and (min-width: $tablet) { 
      max-width: 279px;
    }
  }
  .content {
    margin-top: 0;
    @media screen and (min-width: $tablet) { 
      max-width: 480px;
      margin-top: 30px;
    }
  }

  .container.small {
    max-width:940px!important;
    margin: 0 auto;
    padding: 0 15px;

    .columns{
      margin-bottom: 50px;
    }
    .columns:nth-child(odd) .content{
      text-align: left!important;
      @media screen and (min-width: $tablet) { 
        text-align: left!important;
      }
    }

    .columns:nth-child(even) {
      -moz-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      .content{
        text-align: left!important;
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        @media screen and (min-width: $tablet) { 
          text-align: right!important;
        }
      }
    }
  }
}

footer {
  background-color: $blue;
  color:white;
  padding:40px 15px; 
  @media screen and (min-width: $tablet) { 
    padding:30px 0 180px; 
  } 

  .links {
    display: inline-block;
    text-align: left;
    width: 100%;
    @media screen and (min-width: $tablet) { 
      margin: 0 2.5%;
      width: auto
    }

    .is-5 {
      font-weight: bold;
      margin-bottom: 10px;
    }

    ul {
      li {
        margin-bottom: 15px;
      }
    }
  }
  .tile.is-vertical {
    text-align: left;
    @media screen and (min-width: $tablet) { 
      text-align: center;
    }
    img{
      margin: 0;
      @media screen and (min-width: $tablet) { 
        padding-left: 30px;
      }
    }
  }
  .tile.is-vertical .is-8{
    @media screen and (min-width: $tablet) { 
      text-align: left;
    }
  }
}
