doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css')
  body
    include includes/header.pug
    include includes/image.pug
    include includes/howitworks.pug
    include includes/benefits.pug
    include includes/footer.pug
