- var json = data
.block.benefits
    .container
        .columns
            .column
            .column.is-two-fifths
                .title.is-2.has-text-centered #{json.benefits.title}
                .content.has-text-centered  #{json.benefits.text}
            .column

    .container.small
        each item in json.benefits.blocksides 
            .columns
                .column.is-one-third
                    a.nav-item: img(src=item.img, title="image" )
                .column
                    .content.has-text-centered #{item.desc}