//- each item in links
//-                             li!= '<a href="#">'+item+'</a>'
.block.benefits
    .container
        .columns
            .column
            .column.is-two-fifths
                .title.is-2.has-text-centered Benefits
                .content.has-text-centered  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu efficitur mi, sit amet maximus lacus. Cras vestibulum mauris eget imperdiet volutpat. Maecenas bibendum, mauris sit amet dapibus venenatis, lorem sem volutpat lacus, ullamcorper fermentum sapien risus gravida felis. Phasellus urna arcu, molestie eget consequat vitae, elementum quis odio. Suspendisse magna elit, ornare tempus luctus a, fringilla sed 
            .column

    .container.small
        .columns
            .column.is-one-third
                a.nav-item: img(src="./images/benefit-1.png", title="image" )
            .column
                .content.has-text-centered Voluptates quae sunt dolore in omnis nihil. Animi sapiente et assumenda recusandae a reiciendis aspernatur molestiae asperiores. Magnam consectetur qui dolore at praesentium odio ut aperiam et. Doloremque eveni
        .columns
            .column.is-one-third
                a.nav-item: img(src="./images/benefit-2.png", title="image" )
            .column
                .content.has-text-centered Labore officia tempora in tempore. Suscipit deleniti architecto. Veniam nesciunt rerum sequi error ut omnis officia reiciendis. Culpa enim et accusantium temporibus et. Impedit deleniti vel amet voluptate aut r
        .columns
            .column.is-one-third
                a.nav-item: img(src="./images/Rectangle-2.png", title="image" )
            .column
                .content.has-text-centered Labore reprehenderit itaque. Assumenda veniam excepturi. Necessitatibus magni cum suscipit sed accusamus. Ipsa sit excepturi sunt optio architecto. Veritatis occaecati accusamus eos vitae perferendis cumque qui
        .columns
            .column.is-one-third
                a.nav-item: img(src="./images/Rectangle-2.png", title="image" )
            .column
                .content.has-text-centered Occaecati maxime ullam sit libero voluptas rem rerum quam sed. Voluptatibus et perspiciatis consectetur. Minima facere cum beatae fugit et laboriosam molestias dolor. Et corporis consequatur.
        