footer
    .block
        .tile.is-ancestor
            .tile.is-vertical.is-3
                .tile
                    .tile.is-parent.is-vertical
                        .tile.is-child.is-primary
                            a 
                                img(src="https://i.postimg.cc/FspL8c6d/logo.png", title="image" )
                    
            .tile.is-vertical.is-6                
                    .tile.is-parent.is-vertical
                        .tile.is-child.is-primary
                            .footer-links
                                ul 
                                    li  
                                        .is-5 test
                                    li table
                                    li table
                                    li table
                                    li table
                                ul 
                                    li  
                                        .is-5 test
                                    li table
                                    li table
                                    li table
                                    li table
                                ul 
                                    li  
                                        .is-5 test
                                    li table
                                    li table
                                    li table
                                    li table
                                ul 
                                    li  
                                        .is-5 test
                                    li table
                                    li table
                                    li table
                                    li table

