- var json = data
footer
    .block
        .tile.is-ancestor
            .tile.is-vertical.is-3
                .tile
                    .tile.is-parent.is-vertical
                        .tile.is-child.is-primary
                            a 
                                img(src="./images/logo.png", title="image" )
                    
            .tile.is-vertical.is-6  
                .tile              
                    .tile.is-parent.is-vertical
                        .tile.is-child.is-primary
                            .footer-links
                                each item in json.footer.links 
                                    .links   
                                        .is-5 #{item.title}
                                        ul
                                            each listChild in item.list
                                                li #{listChild}


