//- each item in links
//-                             li!= '<a href="#">'+item+'</a>'
.block.howitwork
    .container
        .columns
            .column
            .column.is-two-fifths
                .title.is-2.has-text-centered How it works
                .content.has-text-centered  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu efficitur mi, sit amet maximus lacus. Cras vestibulum mauris eget imperdiet volutpat. Maecenas bibendum.
            .column

    .container
        .columns
            .column
                figure.is-128by128.has-text-centered
                    img(src="./images/Rectangle-11.png", alt="")
                .title.is-4.has-text-centered Test
                .content.has-text-centered lorem ipsum sit amet dolor etc..
            .column.is-two-fifths
                figure.is-128by128.has-text-centered
                    img(src="./images/Rectangle-12.png", alt="")
                .title.is-4.has-text-centered Test
                .content.has-text-centered lorem ipsum sit amet dolor etc..
            .column
                figure.is-128by128.has-text-centered
                    img(src="./images/Rectangle-13.png", alt="")
                .title.is-4.has-text-centered Test
                .content.has-text-centered lorem ipsum sit amet dolor etc..
        