.block.falcon
    .container
        .columns
            .column
            .column.is-two-fifths
                figure.has-text-centered.img-center 
                    img(src="./images/falcon.png", alt="")
            .column